/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 button{
    border-radius: 5px;
    margin-top: 3px;
  }

  .main{
    background: linear-gradient(to bottom, #CCCCCC, #FFFFFF);
  }

 .header{
   display: flex;
   justify-content: center;
   padding: 5px;
   margin: 5px;
 }

 .derived-index-item{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   width: 350px;
   list-style: none;
   padding: 5px;
   margin: 5px;
   border: 1px solid black;
 }

 .info-list-item{
   padding: 4px;
 }

 .derived-index-part{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
 }

 .item-part{
   padding: 5px;
   margin: 5px;
 }

 .main-box{
   display: flex;
   flex-direction: row;
 }

 .main-index-item{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   width: 350px;
   list-style: none;
   padding: 5px;
   margin: 5px;
   border: 1px solid black;
 }

 .main{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .edit{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   width: 200px;
   padding: 10px;
   margin: 10px;
 }

 .show{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin: 25px;
   padding: 10px;
   border: 1px solid black;
 }

 .edit-item{
   margin: 5px;
   padding: 5px;
 }

 .info-list{
   display: flex;
   justify-content: space-between;
 }

 .new-form{
   margin: 30px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   border: 1px solid black;
 }

  .new-form-row{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
